# Compiled
*.elc

# Packaging
.cask

# Elpa
elpa/

# Projectile
projectile-bookmarks.eld
projectile.cache

# Misc
auto-save-list/
transient/
var/
games/
bookmarks
custom.el
network-security.data
recentf
.lsp-session*

# Eshell
eshell/

# Org
.org-id-locations
