# Compiled
*.elc

# Packaging
.cask

# Elpa
elpa/

# Projectile
projectile-bookmarks.eld
projectile.cache

# Misc
auto-save-list/
var/
bookmarks
custom.el
network-security.data
recentf

# Eshell
eshell/

# Org
.org-id-locations
